<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>


<p>
  <strong>Idep:</strong>
  <%= @course.idep %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @course.subjects %>
</p>
